boto3==1.36.15
click==8.1.7
elastic_apm==6.20.0
fastapi==0.115.8
httpx==0.28.1
more_itertools==10.6.0
openai==1.63.2
protobuf==5.29.3
pydantic==2.10.6
pydantic_settings==2.7.1
python-dotenv==1.0.1
PyYAML==6.0.2
starlette==0.45.3
tqdm==4.67.1
uvicorn==0.34.0
google-generativeai
aiofiles
